<a href="https://colab.research.google.com/github/RudiksChess/UVG-ModelacionYSimulacion-Notas-6-Semestre/blob/main/Proyecto%201/Proyecto1_Modificaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
ensayos = 13

In [3]:
tiempo_de_llegadas = [12,31,63,95,99,154,198,221,304,346,411,455,537]
tiempo_de_servicio_a_b = [40,32,55,48,18,50,47,18,28,54,40,72,12]

caso_a_b= [tiempo_de_llegadas[0]]


for i in range(1,len(tiempo_de_llegadas)):
  elemento =  tiempo_de_llegadas[i] - tiempo_de_llegadas[i-1] 
  caso_a_b.append(elemento)

tiempo_entre_llegada = caso_a_b
tiempo_de_servicio = tiempo_de_servicio_a_b

In [4]:
# Tiempo_entre_llegada - Tiempo_de_llegada - Tiempo_de_inicio_de_servicio - Tiempo_de_espera - Tiempo_de_servicio - Tiempo_de_finalizacion - Tiempo_en_el_sistema - ATM_1 - ATM_2

# Primer cliente 

cliente1_tiempo_entre_llegada =tiempo_entre_llegada[0]
cliente1_tiempo_de_llegada= cliente1_tiempo_entre_llegada
cliente1_tiempo_de_inicio_de_servicio = cliente1_tiempo_de_llegada
cliente1_tiempo_de_espera = cliente1_tiempo_de_inicio_de_servicio - cliente1_tiempo_de_llegada
cliente1_tiempo_de_servicio =  tiempo_de_servicio[0]
cliente1_tiempo_de_finalizacion = cliente1_tiempo_de_inicio_de_servicio + cliente1_tiempo_de_servicio
cliente1_tiempo_en_el_sistema = cliente1_tiempo_de_finalizacion-cliente1_tiempo_de_llegada
cliente1_atm1 = cliente1_tiempo_de_finalizacion
cliente1_atm2 = 0  

simulacion = [[cliente1_tiempo_entre_llegada, cliente1_tiempo_de_llegada,cliente1_tiempo_de_inicio_de_servicio, 
              cliente1_tiempo_de_espera, cliente1_tiempo_de_servicio, cliente1_tiempo_de_finalizacion, 
              cliente1_tiempo_en_el_sistema, cliente1_atm1, cliente1_atm2]]
              
simulacion_1 = [[cliente1_tiempo_entre_llegada, cliente1_tiempo_de_llegada,cliente1_tiempo_de_inicio_de_servicio, 
              cliente1_tiempo_de_espera, cliente1_tiempo_de_servicio, cliente1_tiempo_de_finalizacion, 
              cliente1_tiempo_en_el_sistema]]

In [5]:
for i in range (1,ensayos): 

  fila_anterior = simulacion_1[i-1]

  clientes_tiempo_entre_llegada= tiempo_entre_llegada[i]
  clientes_tiempo_de_llegada= clientes_tiempo_entre_llegada + fila_anterior[1]


  if clientes_tiempo_de_llegada > fila_anterior[-2] : 
    clientes_tiempo_de_inicio_de_servicio= clientes_tiempo_de_llegada

  else: 
    clientes_tiempo_de_inicio_de_servicio = fila_anterior[-2] 

  clientes_tiempo_de_espera = clientes_tiempo_de_inicio_de_servicio - clientes_tiempo_de_llegada

  clientes_tiempo_de_servicio =  tiempo_de_servicio[i]

  clientes_tiempo_de_finalizacion = clientes_tiempo_de_inicio_de_servicio + clientes_tiempo_de_servicio

  clientes_tiempo_en_el_sistema = clientes_tiempo_de_finalizacion-clientes_tiempo_de_llegada

  simulacion_1.append([clientes_tiempo_entre_llegada, clientes_tiempo_de_llegada,clientes_tiempo_de_inicio_de_servicio, 
              clientes_tiempo_de_espera, clientes_tiempo_de_servicio, clientes_tiempo_de_finalizacion, 
              clientes_tiempo_en_el_sistema])

In [6]:

df_1 = pd.DataFrame(simulacion_1, columns=["Tiempo_entre_llegada", "Tiempo_de_llegada", "Tiempo_de_inicio_de_servicio",
                                  "Tiempo_de_espera","Tiempo_de_servicio", "Tiempo_de_finalizacion", "Tiempo_en_el_sistema"])
df_1

    Tiempo_entre_llegada  ...  Tiempo_en_el_sistema
0                     12  ...                    40
1                     19  ...                    53
2                     32  ...                    76
3                     32  ...                    92
4                      4  ...                   106
5                     55  ...                   101
6                     44  ...                   104
7                     23  ...                    99
8                     83  ...                    44
9                     42  ...                    56
10                    65  ...                    40
11                    44  ...                    72
12                    82  ...                    12

[13 rows x 7 columns]

In [7]:
at1 = 1
at1_tiempo = cliente1_tiempo_de_servicio
at1_espera = 0
at2 = 0
at2_tiempo = 0
at2_espera = 0

for i in range (1,ensayos): 

  fila_anterior = simulacion[i-1]
  clientes_tiempo_entre_llegada= tiempo_entre_llegada[i]
  clientes_tiempo_de_llegada= clientes_tiempo_entre_llegada + fila_anterior[1]
  if clientes_tiempo_de_llegada <= np.min([fila_anterior[-1],fila_anterior[-2]]): 
    clientes_tiempo_de_inicio_de_servicio= np.min([fila_anterior[-1],fila_anterior[-2]])

  else: 
    clientes_tiempo_de_inicio_de_servicio = clientes_tiempo_de_llegada

  clientes_tiempo_de_espera = clientes_tiempo_de_inicio_de_servicio - clientes_tiempo_de_llegada
  clientes_tiempo_de_servicio =  tiempo_de_servicio[i]
  clientes_tiempo_de_finalizacion = clientes_tiempo_de_inicio_de_servicio + clientes_tiempo_de_servicio
  clientes_tiempo_en_el_sistema = clientes_tiempo_de_finalizacion-clientes_tiempo_de_llegada

  if fila_anterior[-2] == np.min([fila_anterior[-2],fila_anterior[-1]]):
    clientes_atm1 = clientes_tiempo_de_finalizacion
  else: 
    clientes_atm1= fila_anterior[-2]  
    at1 +=1
    at1_tiempo += clientes_tiempo_de_servicio
    if clientes_tiempo_de_espera > 0:
      at1_espera +=1
    
  if fila_anterior[-1] == np.min([fila_anterior[-2],fila_anterior[-1]]):
    clientes_atm2 = clientes_tiempo_de_finalizacion
  else: 
    clientes_atm2= fila_anterior[-1]
    at2 +=1
    at2_tiempo += clientes_tiempo_de_servicio
    if clientes_tiempo_de_espera > 0:
      at2_espera +=1

  simulacion.append([clientes_tiempo_entre_llegada, clientes_tiempo_de_llegada,clientes_tiempo_de_inicio_de_servicio, 
              clientes_tiempo_de_espera, clientes_tiempo_de_servicio, clientes_tiempo_de_finalizacion, 
              clientes_tiempo_en_el_sistema, clientes_atm1, clientes_atm2])

In [8]:

df = pd.DataFrame(simulacion, columns=["Tiempo_entre_llegada", "Tiempo_de_llegada", "Tiempo_de_inicio_de_servicio",
                                  "Tiempo_de_espera","Tiempo_de_servicio", "Tiempo_de_finalizacion", "Tiempo_en_el_sistema", "ATM_1", "ATM_2"])
df

    Tiempo_entre_llegada  Tiempo_de_llegada  ...  ATM_1  ATM_2
0                     12                 12  ...     52      0
1                     19                 31  ...     52     63
2                     32                 63  ...    118     63
3                     32                 95  ...    118    143
4                      4                 99  ...    136    143
5                     55                154  ...    204    143
6                     44                198  ...    204    245
7                     23                221  ...    239    245
8                     83                304  ...    332    245
9                     42                346  ...    332    400
10                    65                411  ...    451    400
11                    44                455  ...    451    527
12                    82                537  ...    549    527

[13 rows x 9 columns]